*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --color1: rgb(69, 72, 160);
}
header{
    background-color: var(--color1);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}header button{
    border: 0px;
    color: white;
    background-color: transparent;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
}header button:hover{
    text-shadow: 0px 0px 4px white;
}
main{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--color1);
}